@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}


@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}